<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

         <dubbo:application name="trade_invoice" />
         
         <dubbo:provider id="trade_invoice_provider" >
	    	<dubbo:parameter key="shutdown.timeout" value="10000" />
	    </dubbo:provider>
         
         <!--zookeeper注册中心 -->
         <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />
         <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
         
         <!-- 声明需要暴露的服务接口 -->

        <!--<dubbo:service interface="com.trade.invoice.api.facade.InvoiceFacade"
                   ref="tradeInvoiceFacade"></dubbo:service>-->
        <!-- 和本地bean一样实现服务 -->
        <!--<bean id="tradeInvoiceFacade" class="com.trade.invoice.api.facade.impl.InvoiceFacadeImp"/>-->

</beans>
