<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxsl.sz.cxsl.impl.dao.FcxslMapper" >
  <resultMap id="BaseResultMap" type="com.cxsl.sz.cxsl.impl.entity.Fcxsl" >
    <id column="cxsl_id" property="cxslId" jdbcType="BIGINT" />
    <result column="source_type" property="sourceType" jdbcType="TINYINT" />
    <result column="cause_type" property="causeType" jdbcType="TINYINT" />
    <result column="cxsl_type" property="cxslType" jdbcType="TINYINT" />
    <result column="bill_type" property="billType" jdbcType="TINYINT" />
    <result column="outer_order_id" property="outerOrderId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="platform_id" property="platformId" jdbcType="TINYINT" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="cxsl_title" property="cxslTitle" jdbcType="VARCHAR" />
    <result column="cxsl_status" property="cxslStatus" jdbcType="TINYINT" />
    <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
    <result column="seller_taxer_name" property="sellerTaxerName" jdbcType="VARCHAR" />
    <result column="seller_taxer_code" property="sellerTaxerCode" jdbcType="VARCHAR" />
    <result column="cxsl_amount" property="cxslAmount" jdbcType="DECIMAL" />
    <result column="cxsl_num" property="cxslNum" jdbcType="VARCHAR" />
    <result column="cxsl_code" property="cxslCode" jdbcType="VARCHAR" />
    <result column="red_cxsl_num" property="redcxslNum" jdbcType="VARCHAR" />
    <result column="cxsl_date" property="cxslDate" jdbcType="TIMESTAMP" />
    <result column="pdf_url" property="pdfUrl" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="is_urgent" property="isUrgent" jdbcType="BIT" />
    <result column="is_auto" property="isAuto" jdbcType="BIT" />
    <result column="sms_type" property="smsType" jdbcType="TINYINT" />
    <result column="sms_notice_status" property="smsNoticeStatus" jdbcType="TINYINT" />
    <result column="is_mix_split" property="isMixSplit" jdbcType="BIT" />
    <result column="cxsl_flow" property="cxslFlow" jdbcType="VARCHAR" />
    <result column="blue_cxsl_id" property="bluecxslId" jdbcType="BIGINT" />
    <result column="old_blue_cxsl_id" property="oldBluecxslId" jdbcType="BIGINT" />
    <result column="red_notice_num" property="redNoticeNum" jdbcType="VARCHAR" />
    <result column="down_time" property="downTime" jdbcType="TIMESTAMP" />
    <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="cxsl_remark" property="cxslRemark" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="reject_reason" property="rejectReason" jdbcType="TINYINT" />
    <result column="reject_desc" property="rejectDesc" jdbcType="VARCHAR" />
    <result column="red_reason_type" property="redReasonType" jdbcType="TINYINT" />
    <result column="is_lost" property="isLost" jdbcType="BIT" />
    <result column="is_lock" property="isLock" jdbcType="BIT" />
    <result column="is_pre_reopen" property="isPreReopen" jdbcType="BIT" />
    <result column="is_ad" property="isAd" jdbcType="BIT" />
    <result column="is_apply_writeoff" property="isApplyWriteoff" jdbcType="BIT" />
    <result column="is_writeoff_result" property="isWriteoffResult" jdbcType="BIT" />
    <result column="err_msg" property="errMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="gl_date" property="glDate" jdbcType="TIMESTAMP" />
    <result column="ims_customer_code" property="imsCustomerCode" jdbcType="VARCHAR" />
    <result column="check_code" property="checkCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cxsl_id, source_type, cause_type, cxsl_type, bill_type, outer_order_id, order_id,
    shop_id, platform_id, pay_time, cxsl_title, cxsl_status, buyer_nick, seller_taxer_name,
    seller_taxer_code, cxsl_amount, cxsl_num, cxsl_code, red_cxsl_num, cxsl_date,
    pdf_url, pic_url, is_urgent, is_auto, sms_type, sms_notice_status, is_mix_split, 
    cxsl_flow, blue_cxsl_id, old_blue_cxsl_id, red_notice_num, down_time, return_time,
    cxsl_remark, remark, reject_reason, reject_desc, red_reason_type, is_lost, is_lock,
    is_pre_reopen, is_ad, is_apply_writeoff, is_writeoff_result, err_msg, create_time, 
    update_time, gl_date, ims_customer_code, check_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cxsl.sz.cxsl.impl.entity.FcxslExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_cxsl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from f_cxsl
    where cxsl_id = #{cxslId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f_cxsl
    where cxsl_id = #{cxslId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cxsl.sz.cxsl.impl.entity.FcxslExample" >
    delete from f_cxsl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cxsl.sz.cxsl.impl.entity.Fcxsl" >
    insert into f_cxsl (cxsl_id, source_type, cause_type,
      cxsl_type, bill_type, outer_order_id,
      order_id, shop_id, platform_id, 
      pay_time, cxsl_title, cxsl_status,
      buyer_nick, seller_taxer_name, seller_taxer_code, 
      cxsl_amount, cxsl_num, cxsl_code,
      red_cxsl_num, cxsl_date, pdf_url,
      pic_url, is_urgent, is_auto, sms_type, 
      sms_notice_status, is_mix_split, cxsl_flow,
      blue_cxsl_id, old_blue_cxsl_id, red_notice_num,
      down_time, return_time, cxsl_remark,
      remark, reject_reason, reject_desc, 
      red_reason_type, is_lost, is_lock, 
      is_pre_reopen, is_ad, is_apply_writeoff, 
      is_writeoff_result, err_msg, create_time, 
      update_time, gl_date, ims_customer_code, 
      check_code)
    values (#{cxslId,jdbcType=BIGINT}, #{sourceType,jdbcType=TINYINT}, #{causeType,jdbcType=TINYINT},
      #{cxslType,jdbcType=TINYINT}, #{billType,jdbcType=TINYINT}, #{outerOrderId,jdbcType=VARCHAR},
      #{orderId,jdbcType=BIGINT}, #{shopId,jdbcType=INTEGER}, #{platformId,jdbcType=TINYINT}, 
      #{payTime,jdbcType=TIMESTAMP}, #{cxslTitle,jdbcType=VARCHAR}, #{cxslStatus,jdbcType=TINYINT},
      #{buyerNick,jdbcType=VARCHAR}, #{sellerTaxerName,jdbcType=VARCHAR}, #{sellerTaxerCode,jdbcType=VARCHAR}, 
      #{cxslAmount,jdbcType=DECIMAL}, #{cxslNum,jdbcType=VARCHAR}, #{cxslCode,jdbcType=VARCHAR},
      #{redcxslNum,jdbcType=VARCHAR}, #{cxslDate,jdbcType=TIMESTAMP}, #{pdfUrl,jdbcType=VARCHAR},
      #{picUrl,jdbcType=VARCHAR}, #{isUrgent,jdbcType=BIT}, #{isAuto,jdbcType=BIT}, #{smsType,jdbcType=TINYINT}, 
      #{smsNoticeStatus,jdbcType=TINYINT}, #{isMixSplit,jdbcType=BIT}, #{cxslFlow,jdbcType=VARCHAR},
      #{bluecxslId,jdbcType=BIGINT}, #{oldBluecxslId,jdbcType=BIGINT}, #{redNoticeNum,jdbcType=VARCHAR},
      #{downTime,jdbcType=TIMESTAMP}, #{returnTime,jdbcType=TIMESTAMP}, #{cxslRemark,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{rejectReason,jdbcType=TINYINT}, #{rejectDesc,jdbcType=VARCHAR}, 
      #{redReasonType,jdbcType=TINYINT}, #{isLost,jdbcType=BIT}, #{isLock,jdbcType=BIT}, 
      #{isPreReopen,jdbcType=BIT}, #{isAd,jdbcType=BIT}, #{isApplyWriteoff,jdbcType=BIT}, 
      #{isWriteoffResult,jdbcType=BIT}, #{errMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{glDate,jdbcType=TIMESTAMP}, #{imsCustomerCode,jdbcType=VARCHAR}, 
      #{checkCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxsl.sz.cxsl.impl.entity.Fcxsl" >
    insert into f_cxsl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cxslId != null" >
        cxsl_id,
      </if>
      <if test="sourceType != null" >
        source_type,
      </if>
      <if test="causeType != null" >
        cause_type,
      </if>
      <if test="cxslType != null" >
        cxsl_type,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="outerOrderId != null" >
        outer_order_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="cxslTitle != null" >
        cxsl_title,
      </if>
      <if test="cxslStatus != null" >
        cxsl_status,
      </if>
      <if test="buyerNick != null" >
        buyer_nick,
      </if>
      <if test="sellerTaxerName != null" >
        seller_taxer_name,
      </if>
      <if test="sellerTaxerCode != null" >
        seller_taxer_code,
      </if>
      <if test="cxslAmount != null" >
        cxsl_amount,
      </if>
      <if test="cxslNum != null" >
        cxsl_num,
      </if>
      <if test="cxslCode != null" >
        cxsl_code,
      </if>
      <if test="redcxslNum != null" >
        red_cxsl_num,
      </if>
      <if test="cxslDate != null" >
        cxsl_date,
      </if>
      <if test="pdfUrl != null" >
        pdf_url,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="isUrgent != null" >
        is_urgent,
      </if>
      <if test="isAuto != null" >
        is_auto,
      </if>
      <if test="smsType != null" >
        sms_type,
      </if>
      <if test="smsNoticeStatus != null" >
        sms_notice_status,
      </if>
      <if test="isMixSplit != null" >
        is_mix_split,
      </if>
      <if test="cxslFlow != null" >
        cxsl_flow,
      </if>
      <if test="bluecxslId != null" >
        blue_cxsl_id,
      </if>
      <if test="oldBluecxslId != null" >
        old_blue_cxsl_id,
      </if>
      <if test="redNoticeNum != null" >
        red_notice_num,
      </if>
      <if test="downTime != null" >
        down_time,
      </if>
      <if test="returnTime != null" >
        return_time,
      </if>
      <if test="cxslRemark != null" >
        cxsl_remark,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
      <if test="rejectDesc != null" >
        reject_desc,
      </if>
      <if test="redReasonType != null" >
        red_reason_type,
      </if>
      <if test="isLost != null" >
        is_lost,
      </if>
      <if test="isLock != null" >
        is_lock,
      </if>
      <if test="isPreReopen != null" >
        is_pre_reopen,
      </if>
      <if test="isAd != null" >
        is_ad,
      </if>
      <if test="isApplyWriteoff != null" >
        is_apply_writeoff,
      </if>
      <if test="isWriteoffResult != null" >
        is_writeoff_result,
      </if>
      <if test="errMsg != null" >
        err_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="glDate != null" >
        gl_date,
      </if>
      <if test="imsCustomerCode != null" >
        ims_customer_code,
      </if>
      <if test="checkCode != null" >
        check_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cxslId != null" >
        #{cxslId,jdbcType=BIGINT},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="causeType != null" >
        #{causeType,jdbcType=TINYINT},
      </if>
      <if test="cxslType != null" >
        #{cxslType,jdbcType=TINYINT},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=TINYINT},
      </if>
      <if test="outerOrderId != null" >
        #{outerOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=TINYINT},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cxslTitle != null" >
        #{cxslTitle,jdbcType=VARCHAR},
      </if>
      <if test="cxslStatus != null" >
        #{cxslStatus,jdbcType=TINYINT},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="sellerTaxerName != null" >
        #{sellerTaxerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerTaxerCode != null" >
        #{sellerTaxerCode,jdbcType=VARCHAR},
      </if>
      <if test="cxslAmount != null" >
        #{cxslAmount,jdbcType=DECIMAL},
      </if>
      <if test="cxslNum != null" >
        #{cxslNum,jdbcType=VARCHAR},
      </if>
      <if test="cxslCode != null" >
        #{cxslCode,jdbcType=VARCHAR},
      </if>
      <if test="redcxslNum != null" >
        #{redcxslNum,jdbcType=VARCHAR},
      </if>
      <if test="cxslDate != null" >
        #{cxslDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pdfUrl != null" >
        #{pdfUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="isUrgent != null" >
        #{isUrgent,jdbcType=BIT},
      </if>
      <if test="isAuto != null" >
        #{isAuto,jdbcType=BIT},
      </if>
      <if test="smsType != null" >
        #{smsType,jdbcType=TINYINT},
      </if>
      <if test="smsNoticeStatus != null" >
        #{smsNoticeStatus,jdbcType=TINYINT},
      </if>
      <if test="isMixSplit != null" >
        #{isMixSplit,jdbcType=BIT},
      </if>
      <if test="cxslFlow != null" >
        #{cxslFlow,jdbcType=VARCHAR},
      </if>
      <if test="bluecxslId != null" >
        #{bluecxslId,jdbcType=BIGINT},
      </if>
      <if test="oldBluecxslId != null" >
        #{oldBluecxslId,jdbcType=BIGINT},
      </if>
      <if test="redNoticeNum != null" >
        #{redNoticeNum,jdbcType=VARCHAR},
      </if>
      <if test="downTime != null" >
        #{downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null" >
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cxslRemark != null" >
        #{cxslRemark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=TINYINT},
      </if>
      <if test="rejectDesc != null" >
        #{rejectDesc,jdbcType=VARCHAR},
      </if>
      <if test="redReasonType != null" >
        #{redReasonType,jdbcType=TINYINT},
      </if>
      <if test="isLost != null" >
        #{isLost,jdbcType=BIT},
      </if>
      <if test="isLock != null" >
        #{isLock,jdbcType=BIT},
      </if>
      <if test="isPreReopen != null" >
        #{isPreReopen,jdbcType=BIT},
      </if>
      <if test="isAd != null" >
        #{isAd,jdbcType=BIT},
      </if>
      <if test="isApplyWriteoff != null" >
        #{isApplyWriteoff,jdbcType=BIT},
      </if>
      <if test="isWriteoffResult != null" >
        #{isWriteoffResult,jdbcType=BIT},
      </if>
      <if test="errMsg != null" >
        #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="glDate != null" >
        #{glDate,jdbcType=TIMESTAMP},
      </if>
      <if test="imsCustomerCode != null" >
        #{imsCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="checkCode != null" >
        #{checkCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cxsl.sz.cxsl.impl.entity.FcxslExample" resultType="java.lang.Integer" >
    select count(*) from f_cxsl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_cxsl
    <set >
      <if test="record.cxslId != null" >
        cxsl_id = #{record.cxslId,jdbcType=BIGINT},
      </if>
      <if test="record.sourceType != null" >
        source_type = #{record.sourceType,jdbcType=TINYINT},
      </if>
      <if test="record.causeType != null" >
        cause_type = #{record.causeType,jdbcType=TINYINT},
      </if>
      <if test="record.cxslType != null" >
        cxsl_type = #{record.cxslType,jdbcType=TINYINT},
      </if>
      <if test="record.billType != null" >
        bill_type = #{record.billType,jdbcType=TINYINT},
      </if>
      <if test="record.outerOrderId != null" >
        outer_order_id = #{record.outerOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.platformId != null" >
        platform_id = #{record.platformId,jdbcType=TINYINT},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cxslTitle != null" >
        cxsl_title = #{record.cxslTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.cxslStatus != null" >
        cxsl_status = #{record.cxslStatus,jdbcType=TINYINT},
      </if>
      <if test="record.buyerNick != null" >
        buyer_nick = #{record.buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerTaxerName != null" >
        seller_taxer_name = #{record.sellerTaxerName,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerTaxerCode != null" >
        seller_taxer_code = #{record.sellerTaxerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cxslAmount != null" >
        cxsl_amount = #{record.cxslAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.cxslNum != null" >
        cxsl_num = #{record.cxslNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cxslCode != null" >
        cxsl_code = #{record.cxslCode,jdbcType=VARCHAR},
      </if>
      <if test="record.redcxslNum != null" >
        red_cxsl_num = #{record.redcxslNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cxslDate != null" >
        cxsl_date = #{record.cxslDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pdfUrl != null" >
        pdf_url = #{record.pdfUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null" >
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isUrgent != null" >
        is_urgent = #{record.isUrgent,jdbcType=BIT},
      </if>
      <if test="record.isAuto != null" >
        is_auto = #{record.isAuto,jdbcType=BIT},
      </if>
      <if test="record.smsType != null" >
        sms_type = #{record.smsType,jdbcType=TINYINT},
      </if>
      <if test="record.smsNoticeStatus != null" >
        sms_notice_status = #{record.smsNoticeStatus,jdbcType=TINYINT},
      </if>
      <if test="record.isMixSplit != null" >
        is_mix_split = #{record.isMixSplit,jdbcType=BIT},
      </if>
      <if test="record.cxslFlow != null" >
        cxsl_flow = #{record.cxslFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.bluecxslId != null" >
        blue_cxsl_id = #{record.bluecxslId,jdbcType=BIGINT},
      </if>
      <if test="record.oldBluecxslId != null" >
        old_blue_cxsl_id = #{record.oldBluecxslId,jdbcType=BIGINT},
      </if>
      <if test="record.redNoticeNum != null" >
        red_notice_num = #{record.redNoticeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.downTime != null" >
        down_time = #{record.downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.returnTime != null" >
        return_time = #{record.returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cxslRemark != null" >
        cxsl_remark = #{record.cxslRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectReason != null" >
        reject_reason = #{record.rejectReason,jdbcType=TINYINT},
      </if>
      <if test="record.rejectDesc != null" >
        reject_desc = #{record.rejectDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.redReasonType != null" >
        red_reason_type = #{record.redReasonType,jdbcType=TINYINT},
      </if>
      <if test="record.isLost != null" >
        is_lost = #{record.isLost,jdbcType=BIT},
      </if>
      <if test="record.isLock != null" >
        is_lock = #{record.isLock,jdbcType=BIT},
      </if>
      <if test="record.isPreReopen != null" >
        is_pre_reopen = #{record.isPreReopen,jdbcType=BIT},
      </if>
      <if test="record.isAd != null" >
        is_ad = #{record.isAd,jdbcType=BIT},
      </if>
      <if test="record.isApplyWriteoff != null" >
        is_apply_writeoff = #{record.isApplyWriteoff,jdbcType=BIT},
      </if>
      <if test="record.isWriteoffResult != null" >
        is_writeoff_result = #{record.isWriteoffResult,jdbcType=BIT},
      </if>
      <if test="record.errMsg != null" >
        err_msg = #{record.errMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.glDate != null" >
        gl_date = #{record.glDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imsCustomerCode != null" >
        ims_customer_code = #{record.imsCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkCode != null" >
        check_code = #{record.checkCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_cxsl
    set cxsl_id = #{record.cxslId,jdbcType=BIGINT},
      source_type = #{record.sourceType,jdbcType=TINYINT},
      cause_type = #{record.causeType,jdbcType=TINYINT},
      cxsl_type = #{record.cxslType,jdbcType=TINYINT},
      bill_type = #{record.billType,jdbcType=TINYINT},
      outer_order_id = #{record.outerOrderId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=BIGINT},
      shop_id = #{record.shopId,jdbcType=INTEGER},
      platform_id = #{record.platformId,jdbcType=TINYINT},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      cxsl_title = #{record.cxslTitle,jdbcType=VARCHAR},
      cxsl_status = #{record.cxslStatus,jdbcType=TINYINT},
      buyer_nick = #{record.buyerNick,jdbcType=VARCHAR},
      seller_taxer_name = #{record.sellerTaxerName,jdbcType=VARCHAR},
      seller_taxer_code = #{record.sellerTaxerCode,jdbcType=VARCHAR},
      cxsl_amount = #{record.cxslAmount,jdbcType=DECIMAL},
      cxsl_num = #{record.cxslNum,jdbcType=VARCHAR},
      cxsl_code = #{record.cxslCode,jdbcType=VARCHAR},
      red_cxsl_num = #{record.redcxslNum,jdbcType=VARCHAR},
      cxsl_date = #{record.cxslDate,jdbcType=TIMESTAMP},
      pdf_url = #{record.pdfUrl,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      is_urgent = #{record.isUrgent,jdbcType=BIT},
      is_auto = #{record.isAuto,jdbcType=BIT},
      sms_type = #{record.smsType,jdbcType=TINYINT},
      sms_notice_status = #{record.smsNoticeStatus,jdbcType=TINYINT},
      is_mix_split = #{record.isMixSplit,jdbcType=BIT},
      cxsl_flow = #{record.cxslFlow,jdbcType=VARCHAR},
      blue_cxsl_id = #{record.bluecxslId,jdbcType=BIGINT},
      old_blue_cxsl_id = #{record.oldBluecxslId,jdbcType=BIGINT},
      red_notice_num = #{record.redNoticeNum,jdbcType=VARCHAR},
      down_time = #{record.downTime,jdbcType=TIMESTAMP},
      return_time = #{record.returnTime,jdbcType=TIMESTAMP},
      cxsl_remark = #{record.cxslRemark,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      reject_reason = #{record.rejectReason,jdbcType=TINYINT},
      reject_desc = #{record.rejectDesc,jdbcType=VARCHAR},
      red_reason_type = #{record.redReasonType,jdbcType=TINYINT},
      is_lost = #{record.isLost,jdbcType=BIT},
      is_lock = #{record.isLock,jdbcType=BIT},
      is_pre_reopen = #{record.isPreReopen,jdbcType=BIT},
      is_ad = #{record.isAd,jdbcType=BIT},
      is_apply_writeoff = #{record.isApplyWriteoff,jdbcType=BIT},
      is_writeoff_result = #{record.isWriteoffResult,jdbcType=BIT},
      err_msg = #{record.errMsg,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      gl_date = #{record.glDate,jdbcType=TIMESTAMP},
      ims_customer_code = #{record.imsCustomerCode,jdbcType=VARCHAR},
      check_code = #{record.checkCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxsl.sz.cxsl.impl.entity.Fcxsl" >
    update f_cxsl
    <set >
      <if test="sourceType != null" >
        source_type = #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="causeType != null" >
        cause_type = #{causeType,jdbcType=TINYINT},
      </if>
      <if test="cxslType != null" >
        cxsl_type = #{cxslType,jdbcType=TINYINT},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=TINYINT},
      </if>
      <if test="outerOrderId != null" >
        outer_order_id = #{outerOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=TINYINT},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cxslTitle != null" >
        cxsl_title = #{cxslTitle,jdbcType=VARCHAR},
      </if>
      <if test="cxslStatus != null" >
        cxsl_status = #{cxslStatus,jdbcType=TINYINT},
      </if>
      <if test="buyerNick != null" >
        buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="sellerTaxerName != null" >
        seller_taxer_name = #{sellerTaxerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerTaxerCode != null" >
        seller_taxer_code = #{sellerTaxerCode,jdbcType=VARCHAR},
      </if>
      <if test="cxslAmount != null" >
        cxsl_amount = #{cxslAmount,jdbcType=DECIMAL},
      </if>
      <if test="cxslNum != null" >
        cxsl_num = #{cxslNum,jdbcType=VARCHAR},
      </if>
      <if test="cxslCode != null" >
        cxsl_code = #{cxslCode,jdbcType=VARCHAR},
      </if>
      <if test="redcxslNum != null" >
        red_cxsl_num = #{redcxslNum,jdbcType=VARCHAR},
      </if>
      <if test="cxslDate != null" >
        cxsl_date = #{cxslDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pdfUrl != null" >
        pdf_url = #{pdfUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="isUrgent != null" >
        is_urgent = #{isUrgent,jdbcType=BIT},
      </if>
      <if test="isAuto != null" >
        is_auto = #{isAuto,jdbcType=BIT},
      </if>
      <if test="smsType != null" >
        sms_type = #{smsType,jdbcType=TINYINT},
      </if>
      <if test="smsNoticeStatus != null" >
        sms_notice_status = #{smsNoticeStatus,jdbcType=TINYINT},
      </if>
      <if test="isMixSplit != null" >
        is_mix_split = #{isMixSplit,jdbcType=BIT},
      </if>
      <if test="cxslFlow != null" >
        cxsl_flow = #{cxslFlow,jdbcType=VARCHAR},
      </if>
      <if test="bluecxslId != null" >
        blue_cxsl_id = #{bluecxslId,jdbcType=BIGINT},
      </if>
      <if test="oldBluecxslId != null" >
        old_blue_cxsl_id = #{oldBluecxslId,jdbcType=BIGINT},
      </if>
      <if test="redNoticeNum != null" >
        red_notice_num = #{redNoticeNum,jdbcType=VARCHAR},
      </if>
      <if test="downTime != null" >
        down_time = #{downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null" >
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cxslRemark != null" >
        cxsl_remark = #{cxslRemark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=TINYINT},
      </if>
      <if test="rejectDesc != null" >
        reject_desc = #{rejectDesc,jdbcType=VARCHAR},
      </if>
      <if test="redReasonType != null" >
        red_reason_type = #{redReasonType,jdbcType=TINYINT},
      </if>
      <if test="isLost != null" >
        is_lost = #{isLost,jdbcType=BIT},
      </if>
      <if test="isLock != null" >
        is_lock = #{isLock,jdbcType=BIT},
      </if>
      <if test="isPreReopen != null" >
        is_pre_reopen = #{isPreReopen,jdbcType=BIT},
      </if>
      <if test="isAd != null" >
        is_ad = #{isAd,jdbcType=BIT},
      </if>
      <if test="isApplyWriteoff != null" >
        is_apply_writeoff = #{isApplyWriteoff,jdbcType=BIT},
      </if>
      <if test="isWriteoffResult != null" >
        is_writeoff_result = #{isWriteoffResult,jdbcType=BIT},
      </if>
      <if test="errMsg != null" >
        err_msg = #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="glDate != null" >
        gl_date = #{glDate,jdbcType=TIMESTAMP},
      </if>
      <if test="imsCustomerCode != null" >
        ims_customer_code = #{imsCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="checkCode != null" >
        check_code = #{checkCode,jdbcType=VARCHAR},
      </if>
    </set>
    where cxsl_id = #{cxslId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxsl.sz.cxsl.impl.entity.Fcxsl" >
    update f_cxsl
    set source_type = #{sourceType,jdbcType=TINYINT},
      cause_type = #{causeType,jdbcType=TINYINT},
      cxsl_type = #{cxslType,jdbcType=TINYINT},
      bill_type = #{billType,jdbcType=TINYINT},
      outer_order_id = #{outerOrderId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=INTEGER},
      platform_id = #{platformId,jdbcType=TINYINT},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      cxsl_title = #{cxslTitle,jdbcType=VARCHAR},
      cxsl_status = #{cxslStatus,jdbcType=TINYINT},
      buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      seller_taxer_name = #{sellerTaxerName,jdbcType=VARCHAR},
      seller_taxer_code = #{sellerTaxerCode,jdbcType=VARCHAR},
      cxsl_amount = #{cxslAmount,jdbcType=DECIMAL},
      cxsl_num = #{cxslNum,jdbcType=VARCHAR},
      cxsl_code = #{cxslCode,jdbcType=VARCHAR},
      red_cxsl_num = #{redcxslNum,jdbcType=VARCHAR},
      cxsl_date = #{cxslDate,jdbcType=TIMESTAMP},
      pdf_url = #{pdfUrl,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      is_urgent = #{isUrgent,jdbcType=BIT},
      is_auto = #{isAuto,jdbcType=BIT},
      sms_type = #{smsType,jdbcType=TINYINT},
      sms_notice_status = #{smsNoticeStatus,jdbcType=TINYINT},
      is_mix_split = #{isMixSplit,jdbcType=BIT},
      cxsl_flow = #{cxslFlow,jdbcType=VARCHAR},
      blue_cxsl_id = #{bluecxslId,jdbcType=BIGINT},
      old_blue_cxsl_id = #{oldBluecxslId,jdbcType=BIGINT},
      red_notice_num = #{redNoticeNum,jdbcType=VARCHAR},
      down_time = #{downTime,jdbcType=TIMESTAMP},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      cxsl_remark = #{cxslRemark,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      reject_reason = #{rejectReason,jdbcType=TINYINT},
      reject_desc = #{rejectDesc,jdbcType=VARCHAR},
      red_reason_type = #{redReasonType,jdbcType=TINYINT},
      is_lost = #{isLost,jdbcType=BIT},
      is_lock = #{isLock,jdbcType=BIT},
      is_pre_reopen = #{isPreReopen,jdbcType=BIT},
      is_ad = #{isAd,jdbcType=BIT},
      is_apply_writeoff = #{isApplyWriteoff,jdbcType=BIT},
      is_writeoff_result = #{isWriteoffResult,jdbcType=BIT},
      err_msg = #{errMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      gl_date = #{glDate,jdbcType=TIMESTAMP},
      ims_customer_code = #{imsCustomerCode,jdbcType=VARCHAR},
      check_code = #{checkCode,jdbcType=VARCHAR}
    where cxsl_id = #{cxslId,jdbcType=BIGINT}
  </update>
</mapper>
